* {
    margin: 0;
    padding: 0;
}

body { 
    text-align: center;
    background-color: #0f0e17; 
    color: #fffffe; 
    height: 100vh;
}

header {
    background-color: #0f0e17; 
    height: auto;
    padding: 1% 0;
    display: flex;
    border-bottom: 1px solid #fffffe;
    justify-content: space-between;
    align-items: center;
}

#logo img {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 40%;
    margin-left: 3%;
    position: relative;
    left: 33%;
}

#link-header {
    display: flex;
    justify-content: end;
    top: 1%;
    align-items: center;
    gap: 2%;
    width: 100%;
    margin-right: 3%;
}

#link-header a {
    cursor: pointer;
    font-size: 20px;
    font-family: cursive;   
    padding: 5px 8px;
    border-bottom: 2px solid rgb(255, 255, 255);
    border-radius: 4px 4px 0 0 ;
    color: #fffffe; 

}

#link-header a:hover{
    background-color: #f25f4c; 
    color: #fffffe; 
}


#titulo{
    font-size: 35px;
    margin-top: 2%;
    font-family: cursive;
    color: #fffffe; 
}

#seçao{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 4%;
    border-bottom: 1px solid #fffffe;
}


#links{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#links a{
    font-size: 20px;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin: 3%;
    width: auto;
    padding: 3%;
    text-align: center;
    height: auto;
    background-color: #ff8906;
    color: #000000; 
    cursor: pointer;
    border-radius: 3px;   
}

#links a:hover{
    border-bottom: 2px solid rgb(255, 255, 255);
    background-color: #f25f4c;
}